/* 共通スタイル */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

header, footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #007BFF;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
